*{
    box-sizing: border-box;
margin:0px;
padding:0px;
list-style-type: none;
}

body{
    background-color:teal;
}

.title{
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    color: white;
}
.anounce{
    width: 100%;
    background-color: silver;
    text-align: center;
    color: white;

}
figure{
    text-align: center;
    margin:0px 20px;
    padding: 0px;
}
figcaption{
    border:5px solid purple;
}
.img-container{
    background-color:silver;
    margin: auto;
    display: flex;
    justify-content: center;
}
img{
    padding-top:5px;
    height:65px;
    width: 80px;
    background-color: aliceblue;
    border:8px solid transparent;
}
figure>img:hover{
    border:8px solid black;
}

h3{
    background-color: lightblue;
}

h2{
    width: 80%;
    text-align: center;
    margin: 5px auto;
    color: white;
    border: 8px solid black;
}
p{
    text-align: center;
    background-color: silver;
    margin: auto;
    color:black;
}



.game{
    border: 10px solid purple;
}


h3{
    background-color: lightblue;
    text-align: center;
}
.user{
    border:10px solid purple;
    display: inline-block;
    margin-left: 20px;
}
.computer{
    border:10px solid purple;
    float: right;
    margin-right: 20px;
}

h3>img{
    background-color: white;
    width: 120px;
display:block;
}

button{
    border: 6px solid purple;
    display:block;
    width:50px;
    margin: auto;
    margin-bottom: 10px;
}



/* to palce on winner */
.winner{
    border:8px solid red;
}
.loser{
    border: 8px solid rgba(108, 216, 76, 0.712);   
}