* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body {
  background-color: whitesmoke;
}

.title {
  font-size: 2.3rem;
  text-align: center;
  color: teal;
}
.game-container {
  background-color: silver;
  text-align: center;
  max-width: fit-content;
  max-width: -moz-fit-content;
  min-height: 500px;
  padding: 10px 50px 20px;
  margin: auto;
  margin-top: 50px;
}
.img-container {
  display: flex;
  justify-content: center;
}
figure {
  margin: 0px 20px;
  padding: 0px;
  height: fit-content;
  height: -moz-fit-content;
}
img {
  min-height: 100px;
  min-width: 100px;
}
figcaption {
  text-decoration: underline #000 2px;
  padding-bottom: 5px;
}
.option {
  height: 65px;
  width: 80px;
  background-color: #fff;
  border: 5px solid transparent;
}
.img-container .option:hover {
  border: 5px solid rgb(105, 216, 216);
}
.game-display {
  border: 5px solid;
  min-width: 50%;
  min-height: 260px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
button {
  border-radius: 5px;
  border: 2px solid #666;
  width: 40%;
  margin: auto;
  background-color: rgb(105, 216, 216);
}
.game-display > figure {
  border: 5px solid transparent;
  margin: 10px;
}
figure.winner {
  border: 5px solid blue;
}
figure.loser {
  border: 5px solid red;
}
#outcome {
  padding-top: 20px;
  font-size: 1.5rem;
  display: block;
}
footer {
  max-width: fit-content;
  max-width: -moz-fit-content;
  border: 2px solid #666;
  margin: auto;
}
